<link href="../public/style/adminpanel.css" rel="stylesheet" type="text/css">
<header class="box-header">
            <div class="box-logo">

                <a href="/"><img src="../public/Templates/BoxPortfolio/img/logo.png" width="80" alt="Logo"></a>
              <!-- <button class="btn-style btn-1">Change logo</button> -->
            </div>
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->


<% if(user != undefined && user.isAdmin){ %>
            <div id="leftmenu">
        <div><img id="avatar" src="../public/image/mountain1.jpg"></div>

        <div id="websiteName">Your website</div>
        <div id="changable">Change</div>
    <ul>
        <li class="leftpropeties" id="first"><a href="index.html">View Site</a></li>
        <li class="leftpropeties"><a href="index.html">Stats</a></li>
        <li class="leftpropeties"><a href="index.html">Customize</a></li>
        <li class="leftpropeties"><a href="index.html">Plugins</a></li>
        <li class="leftpropeties"><a href="index.html">Pages</a></li>
    </ul>
    </div>
<% }; %>

</header>
        <!-- end box header -->

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label">About me</li>

                <li><a href="index">Intro</a> <i class="ion-ios-circle-filled color"></i></li>
                <li><a href="#">About me</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">portfolio</a></li>
                <li><a href="#">contact me</a></li>
            
            </ul>
        </nav>