
		ul{
			list-style-type: none;
			float:left;
		}
		li a{
			color:#fff;
			text-decoration: none;
		}
		.leftpropeties{
			padding-top: 25px;
			font-size: 25px;
			font-weight:bold;
			color:#fff;
		}
		#leftmenu{
			position: fixed;
			margin: 0;
			padding: 0;
			background-color: blue;
			
			float:left;
			width: 12%;
			min-height: 100vh;

		}
		#websiteName{
			float:left;
			padding-top: 10px;
			padding-left: 15px; 
			font-size: 20px;
			color:#fff;
		}
		#changable{
			font-size: 13px;
			padding-top: 14px;
			padding-left: 15px;
			color:#fff; 
			float:left;
		}
		#avatar{
			border-radius: 55px;
			width: 100px;
			height: 100px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		#first{
			margin-top: 15px;
		}
		#content{
			margin-left:12%;
		}
		#footer {
			height: 80px;			
		}

		#hide_show {
		    position: fixed;
		    height: 40px;
    		width: 40px;
			bottom: 80px;
			left: 96.85%;
		}
