<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="public/style/signupcss.css">
</head>
<body>
<div class='login' id = 'tempp'>
    <h2>Create Page</h2>
    <input id = 'url' name='url' placeholder='/ + url' type='text'>
    <input id = 'fileName' name='fileName' placeholder='fileName' type='text'>
    <div id = "ddd" class='agree'>
        <input id='agree' name='agree' type='checkbox'>
        <label for='agree'></label>is multy page
    </div>
    <input id = "submit" class='animated' type='submit' value='Create Page'>
    <div id = 'Errors'></div>
</div>

<script src = "public/scripts/recFromPage/CreateNewPage.js"></script>
</body>
</html>