<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="public/style/signupcss.css">
</head>
<body>
<div class='login'>
    <h2>Login</h2>
    <input id = 'username' name='username' placeholder='Username' type='text'>
    <input id = 'password' name='pass' placeholder='Password' type='password'>

    <div class='agree'>
        <input id='agree' name='agree' value="false" type='checkbox'>
        <label for='agree'></label>remember me
    </div>
    <input id = "submit" class='animated' type='submit' value='Log in'>
    <div id = 'Errors'></div>

</div>
<script src = "public/scripts/recFromPage/login.js"></script>
</body>
</html>