<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pages selector</title>
</head>
<body>
	<a href="createNewPage?Tid=BoxPortfolio=index" id="1" ><img src="./public/image/tempates/index.png" width="500px"></a>
	<script src = "public/scripts/recFromPage/CreateNewPage.js"></script>
</body>
</html>