<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pages selector</title>
</head>
<body>
	<a href="createNewPage?Tid=BoxPortfolio=index"   	 id="1" ><img src="./public/image/tempates/index.png" 	  width="500px"></a>
	<a href="createNewPage?Tid=BoxPortfolio=contact" 	 id="2" ><img src="./public/image/tempates/contact.png"   width="500px"></a>
	<a href="createNewPage?Tid=BoxPortfolio=about"   	 id="3" ><img src="./public/image/tempates/about.png" 	  width="500px"></a>
	<a href="createNewPage?Tid=BoxPortfolio=portfolio"   id="4" ><img src="./public/image/tempates/portfolio.png" width="500px"></a>
	<script src = "public/scripts/recFromPage/CreateNewPage.js"></script>
</body>
</html>