<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="public/style/paralaxstyle.css">
  <link rel="stylesheet" href="public/style/style.css">
  <script src="public/js/Btnjs.js" ></script>
<head/>

  <body>

  <div class="parallax">

    <h3 id ="wel">Welcome</h3>



<div id = "regbloc">
    <svg onclick="return location.href = '/Login'" id = "reg2" class="liquid-button"
         data-text="LOGIN IN"
         data-force-factor="0.1"
         data-layer-1-viscosity="0.5"
         data-layer-2-viscosity="0.4"
         data-layer-1-mouse-force="400"
         data-layer-2-mouse-force="500"
         data-layer-1-force-limit="1"
         data-layer-2-force-limit="2"
         data-color1="#4DE7BF"
         data-color2="#0A3FC7"
         data-color3="#2A62F4"></svg>
  <svg onclick="return location.href = '/signup'" id = "signup" class="liquid-button"
       data-text="SIGN UP"
       data-force-factor="0.1"
       data-layer-1-viscosity="0.5"
       data-layer-2-viscosity="0.4"
       data-layer-1-mouse-force="400"
       data-layer-2-mouse-force="500"
       data-layer-1-force-limit="1"
       data-layer-2-force-limit="2"
       data-color1="#4DE7BF"
       data-color2="#0A3FC7"
       data-color3="#2A62F4"></svg>
</div>
    <div class="bg__foo">fooddd</div>
  </div>

    <div class="container">
      <div id="Header1">Our Templates</div>
      <div id = "headerbar"></div>
    </div>

<div id="templ">
    <div class="blok" id = "template1" ><a href = "pageSelector"><img class="im1" src="public/image/site.png"></a></div>
    <div class="blok im2" id = "template2" ><img class="im22" src="public/image/site2.png"></div>
    <div class="blok ima2" id = "template3" ><img id="im3" src="public/image/velic.png"></div>
</div>
<div id ="end"></div>

<script src="public/scripts/CreateNewPage.js"></script>

<footer><P>SDT Company</P></footer>
  </body>
</html>