<header>
    <ul>
        <li><a id="lastmenu" href="About.html">About</a></li>
        <li><a id="menu" href="Templates.html"/>Templates</a></li>
        <li><a id="menu" href="Contacts.html"/>Contacts</a></li>
        <li><a id="firstmenu" href="header.html"/>Home</a></li>
        <li id="register">
            <a class="buttons" href="registration">Register</a>
        </li>
        <li id="register" style="margin:0;">
            <a class="buttons" href="login">Sign in</a>
        </li>
    </ul>
</header>
!

<!--<script src="../public/scripts/bla.js"></script>-->