<header>
		<ul id = 'ddd'>
			<li><a id="menu" href="Templates"/>Templates</a></li>
			<li><a id="firstmenu" href="index"/>Home</a></li>
			<a href="registration" id = reg><li id="register"><div class="buttons">Register</div></li></a>
		</ul>
</header>

<script src = "../public/scripts/bla.js"></script>